body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #1F2937;
}

#converter {
    border: 4px solid #A7F3D0;
    border-radius: 5px;
    width: 550px;
    margin: 0 auto;
}

#header {
    height: 285px;
    background-color: #6943FF;
    margin: 0 auto;
    padding: 30px 50px;
    box-sizing: border-box;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 58px;
    font-weight: 800px;
    width: 120px;
    height: 80px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 25px;
}

#result-section {
    width: 550px;
    height: 445px;
    background-color: #F4F4F4;
    margin: 0 auto;
    padding: 10px 25px;
    box-sizing: border-box;
}

.unit-container {
    width: 500px;
    height: 110px;
    margin: 25px auto;
    background-color: white;
    padding-top: 15px;
    box-sizing: border-box;
}

h2 {
    color: white;
    font-weight: 800px;
    font-size: 28px;
}

button {
    color: #3D3D3D;
    width: 120px;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

h3 {
    color: #5A537B;
    font-weight: 600px;
    font-size: 20px;
}

p {
    color: #353535;
    font-weight: 400px;
    font-size: 14px;
}